<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
   <servlet>
    <servlet-name>ServletJSON</servlet-name>
     <servlet-class>hr.adriacomsoftware.app.server.obrasci.ServletJSON</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServletJSON</servlet-name>
     <!--<url-pattern>/hr_adriacomsoftware_app_client_smartgwt_obrasci/servletjson</url-pattern>-->
     <url-pattern>/servletjson</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AS2TransportServerFoldersJSON</servlet-name>
     <servlet-class>hr.adriacomsoftware.inf.server.transport.json.AS2TransportServerFoldersJSON</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AS2TransportServerFoldersJSON/servlet-name>
     <url-pattern>/json_servlet_folders</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Hr_adriacomsoftware_app_client_smartgwt_obrasci.html</welcome-file>
  </welcome-file-list>

</web-app>
